/*#root{
  background: linear-gradient(to right, #19222b, #73828b);
}*/
.container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  flex-wrap: wrap;
  z-index: 1;
  max-height: fit-content;
}

.container .movieCard{
  position: relative;
  width: 230px;
  height: 250px;
  margin: 15px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.5) ;
  background: linear-gradient(to right bottom, #000000cb, #660461a2);
  /*backdrop-filter: blur(2px);*/
  justify-content: center;
  text-align: center;
  color: rgba(255, 208, 0, 0.911);
}

.navbar{
  background-color: rgb(36, 36, 36);
}
.moviereviews{
  position: relative;
  display: flex;
  flex-direction: column;
}